@use '../../style/variables.scss' as *;
.catalog-content {
    position: relative;
    .container_content-wrapper {
        margin-top: 30px;
        display: flex;
        gap: 40px;
        justify-content: space-between;
    }

    .catalog__main-content {
        max-width: 976px;
        width: 100%;
    }

    .main-content {
        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
        &__filters-btn {
            position: relative;
            display: none;
            padding: 12px 24px 12px 0;
            margin-left: auto;
            margin-right: 14px;
            border: none;
            background-color: transparent;
            font-size: 14px;
            font-weight: 500;
            color: $dark-color;
            cursor: pointer;
            &:after {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                display: block;
                width: 16px;
                height: 16px;
                background: url('../../assets/icons/filters/filter-icon.svg') center center/cover no-repeat;
            }
        }
        &__bottom {
            margin-top: 50px;
            display: flex;
            justify-content: center;
        }
        &__pagination {
            margin-top: 50px;
        }
    }
}

@media (max-width: 1012px) {
	.catalog-content {

    .main-content {
        &__top {
            max-width: 450px;
						margin: auto;
						margin-bottom: 20px;
        }
    }
}
}

@media (max-width: 840px) {
	.catalog-content {
        .main-content {
            &__top {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

@media (max-width: 768px) {
	.catalog-content {
        .main-content {
            &__top {
                margin-bottom: 20px;
                max-width: 100%;
            }
            &__filters-btn {
                display: block;
            }
        }
    }
}

@media (max-width: 672px) {
	.catalog-content {
        .main-content {
            &__top {
                margin-bottom: 20px;
            }
        }
    }
}
@media (max-width: 320px) {
    .catalog-content {
        .main-content {
            &__top {
                column-gap: 20px;
                flex-wrap: wrap;
            }
            &__search-quantity {
                order: 1;
            }
            &__filters-btn {
                margin: 0;
            }
        }
    }
}
