.catalog-content {
    .container_content-wrapper {
        margin-top: 30px;
        display: flex;
        gap: 40px;
        justify-content: space-between;
    }

    .catalog__main-content {
        max-width: 976px;
        width: 100%;
    }

    .main-content {
        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__bottom {
            display: flex;
            justify-content: center;
        }
        &__pagination {
            margin-top: 50px;
        }
    }
}

@media (max-width: 1012px) {
	.catalog-content {

    .main-content {
        &__top {
            max-width: 450px;
						margin: auto;
        }
    }
}
}

@media (max-width: 840px) {
	.catalog-content {

    .main-content {
        &__top {
            display: flex;
            justify-content: space-between;
        }
    }
}
}

@media (max-width: 768px) {
	.catalog-content {
	.main-content {
		&__top {
				margin-bottom: 20px;
				max-width: 100%;
		}
}
}
}

@media (max-width: 672px) {
	.catalog-content {
	.main-content {
		&__top {
				margin-bottom: 20px;
				max-width: 450px;
		}
}
}
}
