@use '../../style/variables.scss' as *;
.activation-page {
    padding-top: 50px;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: calc(100vh - 565px);
        height: 100%;
    }
    &__title {
        color: $dark-color;
        font-size: 24px;
        font-weight: 500;
    }

    &__link {
        margin-top: auto;
        color: $dark-color;
        font-size: 14px;
        font-weight: 500;
        text-decoration-line: underline;
        text-decoration-skip-ink: none;
    }
}

