@use '../../style/variables.scss' as *;
@import '../../style/mixins.scss';

body {
	position: relative;
}

.product-page {
	&__wrapper {
        position: relative;
		display: flex;
		justify-content: space-between;
		gap: 34px;
        min-height: 50dvh;
	}

	.product-page-right-content-wrapper {
		width: 43%;
	}

    &__title {
        color: $dark-color;
        font-family: Montserrat Alternates;
        margin-left: -3px;
        font-size: 40px;
        font-weight: 600;
    }
    &__extra-info { 
        margin-top: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__sku {
        color: $light-grey;
        font-size: 14px;
        font-weight: 500;
    }
    &__rating {
        margin-left: 2px;
    }
    &__feedbacks-link {
        color: $dark-color;
        font-size: 14px;
        font-weight: 400;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        text-underline-offset: 2px;
        text-decoration-color: transparent;
        text-decoration-thickness: 0.5px;
        transition: 0.1s ease-out text-decoration-color;
        &:hover {
            text-decoration-color: $dark-color;;
        }
    }

    &__add-product {
        margin-top: 30px;
        display: flex;
        align-items: center;
        gap: 12px;
        &.unavailable .favorite-btn {
            position: absolute;
            right: 0;
            opacity: 0;
            height: 0;
            width: 0;
            visibility: hidden;
            user-select: none;
            pointer-events: none;
        }
    }

    &__interested {
        margin-top: 130px;
    }

    &__loader {
        @include loader-blur;
        background-color: white;
    }
}

@media screen and (max-width: 960px) {
	.product-page {
		margin-top: 24px;
	}
    .breadcrumbs {
			display: none;
		}
}

@media screen and (max-width: 800px) {
    .product-page {
        &__wrapper {
            flex-wrap: wrap;
        }
        .product-page-right-content-wrapper {
            width: 100%;
        }
    }
}

@media screen and (max-width: 450px) {
    .product-page{
        &__interested{
            margin-top: 64px;
        }
    }
}
