@use '../../../style/variables.scss' as *;
.cart-dropdown {
    position: absolute;
    padding: 20px 0;
    background-color: $filter-background;
    right: 0;
    top: 98%;
    max-height: 325px;
    max-width: 590px;
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out opacity, 0.2s ease-in-out visibility;
    &.active {
        opacity: 1;
        visibility: visible; 
    }
    &__decorative-icon {
        position: absolute;
        right: 14px;
        top: 0;
        transform: translateY(-95%);
        fill: $filter-background;

    }
    &__list {
        padding-left: 18px;
        margin-right: 18px;
        background-color: $filter-background;;
        max-height: 190px;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 3px;
        }
        &::-webkit-scrollbar-track {
            background: $dark-white;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba($dark-color, 0.7); 
            border-radius: 50px;
            border-right: 1.5px  rgba($dark-color, 0.7) solid;
            border-left: 1.5px  rgba($dark-color, 0.7) solid;
            background-clip: padding-box;
        }
    }
    .product-item {
        display: flex;
        align-items: center;
        padding: 0 20px 14px 5px;
        &:not(:first-child) {
            padding-top: 14px;
        }
        &:not(:last-child) {
            border-bottom: 1px solid $dark-white;
        }
        &__trash{
            background-color: transparent;
            border: none;
            cursor: pointer;
            &-icon {
                fill: $light-grey;
            }
        }
        &__info {
            display: flex;
            align-items: center;
            gap: 14px;
            margin-left: 10px;
        }
        &__text {
            display: flex;
            flex-wrap: wrap;
            gap: 6px;
            max-width: 186px;
            color: $dark-color;
        }
        &__title-link {
            flex-shrink: 0;
            width: 100%;
            font-family: Montserrat Alternates;
            font-size: 14px;
            font-weight: 500;
        }
        &__color {
            font-size: 12px;
            font-weight: 500;
        }

        &__price {
            display: flex;
            flex-shrink: 0;
            gap: 4px;
            margin-left: 10px;
            margin-right: 10px;
            color: $dark-color;
            font-size: 14px;
            font-weight: 500;
        }
        &__price-divider,&__current-quantity {
            color: $light-grey;
        }

        &__total-cost {
            margin-left: auto;
            flex-shrink: 0;
            color: $dark-color;
            font-size: 14px;
            font-weight: 600;
        }
    }
    
    .summary-info {
        padding: 20px;
        border-top: 1px solid $dark-white;
        &__total {
            display: flex;
            justify-content: flex-end;
            gap: 18px;
        }
        &__total-quantity {
            color: $dark-color;
            font-size: 14px;
            font-weight: 500;
        }
        &__total-cost {
            color: $dark-color;
            font-size: 16px;
            font-weight: 600;
        }
        &__links {
            margin-top: 18px;
            display: flex;
            justify-content: space-between;
            gap: 30px;
        }
        &__view-cart, &__checkout {
            max-width: 240px;
            width: 100%;
            padding: 10px;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            border-radius: 3px;
            cursor: pointer;
        }
        &__view-cart {
            color: $dark-color;
            background-color: transparent;
            border: 1px solid $dark-color;
        }
        &__checkout {
            color: $filter-background;
            background-color: $dark-color;
            transition: 0.2s ease-out background-color;
            &:hover {
                background-color: $grey;
            }
        }
    }
}
