@use '../../../style/variables.scss' as *;
.cabinet-navigation {
    width: 210px;
    flex-shrink: 0;
    border-right: 2px solid $filter-background;
    &__list {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &__link, &__close {
        display: block;
        padding: 10px 0;
        font-size: 16px;
        font-weight: 500;
        color: $grey;
        
    }
    &__link {
        &-active {
            color: $accent-color;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                right: -2px;
                top: 0;
                width: 2px;
                height: 100%;
                background-color: $dark-color;
            }
        }
    }
    &__close {
        margin-top: 60px;
        color: $grey;
        background-color: transparent;
        border: none;
        text-align: left;
        cursor: pointer;
        transition: 0.2s ease-out color;
        &:hover {
            color: $accent-color;
        }
    }
}

@media screen and (max-width: 961px) {
    .cabinet-navigation {
        display: none;
    }
}
