@import '../../../../style/variables.scss';

.submit-button {
	margin-top: 30px;
	border: none;
	border-radius: 2px;
	background: $dark-color;
	color: $white;
	padding: 16px 10px;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 500;
	width: 200px;
	cursor: pointer;
	transition: background .2s ease-out;
	&:hover {
		background: $grey;
	}
}

@media screen and (max-width: 991px) {
	.submit-button:hover {
		background: $dark-color;
	}
}
