@use '../../../../style/variables.scss' as *;

.filters-wrapper {
	position: relative;
	padding-bottom: 80px;
	max-height: calc(100vh - 280px);
    background-color: white;
}

.buttons {
	position: absolute;
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 24px 24px;
	width: auto;
	height: 80px;
	border-top: 1px solid $dark-white;

	&__reject {
		background: none;
		font-size: 12px;
		font-weight: 500;
		position: relative;
		display: flex;
		align-items: center;
		border: 2px solid $dark-color;
		border-radius: 2px;
		padding: 8px 28px 8px 10px;
		text-transform: uppercase;
		cursor: pointer;

		&::after {
			content: '';
			position: absolute;
			background: url('../../../../assets/icons/filters/reject-icon.svg') center center/cover no-repeat;
			width: 12px;
			height: 12px;
			right: 9px;
		}
	}

	&__submit {
		font-size: 12px;
		font-weight: 500;
		position: relative;
		display: flex;
		align-items: center;
		background: $dark-color;
		color: $white;
		border: none;
		border-radius: 2px;
		padding: 10px 10px;
		text-transform: uppercase;
		cursor: pointer;
	}
}

.filters {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 28px;
    width: 292px;
    height: 100%;
    padding: 24px 24px;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 3px;
    }
    &::-webkit-scrollbar-track {
        background: $dark-white;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba($dark-color, 0.7); 
        border-radius: 50px;
        border-right: 1.5px  rgba($dark-color, 0.7) solid;
        border-left: 1.5px  rgba($dark-color, 0.7) solid;
        background-clip: padding-box;
    }
    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: -15px;
    }
    &__title-mobile {
        padding: 0;
        margin: 0;
        color: $dark-color;
        font-size: 20px;
        font-weight: 500;
    }
    &__close-filter {
        position: relative;
        width: 40px;
        height: 40px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        &:after {
            content: '';
            position: absolute;
            background: url('../../../../assets/icons/filters/close-filters.svg') center center/cover no-repeat;
            width: 40px;
            height: 40px;
            top: 0;
            right: -10px;
            bottom: 0;
        }
    }
}

.filter {
    &__button {
        position: relative;
        padding-bottom: 11px;
        padding-right: 20px;
        width: 100%;
        color: $grey;
        font-size: 14px;
        font-weight: 600;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $grey;
        text-align: left;
        cursor: pointer;
        &:after, &:before {
            content: '';
            display: block;
            position: absolute;
            background-color:$light-grey;
            top: 50%;
            transform: translateY(-50%);
        }
        &:after {
            right: 0;
            width: 12px;
            height: 2px;
        }
        &:before {
            right: 5px;
            width: 2px;
            height: 12px;
        }
    }
    &.active {
        .filter__button:before {
            display: none;
        }
        .filter__list {
            margin-top: 18px;
            height: 100%;
            overflow: visible;
        }
    }
    &__list {
        margin-top: 0px;
        height: 0;
        overflow: hidden;
    }
}

@media (max-width: 768px) {
	.filters-wrapper {
        position: fixed;
        z-index: 10;
        max-height: 100vh;
        height: 100%;
        top: 0;
        left: -100%;
        right: 0;
        width: 100%;
        z-index: 1000;
        transition: 0.2s ease-out left;
        &.active {
            left: 0;
        }
	}
    .filters {
        position: absolute;
        top: 0;
        width: 100%;
        bottom: 0;
        max-height: calc(100% - 90px);
        background-color: white;
        padding: 10px 16px 6px 16px;
        &::-webkit-scrollbar {
            width: 3px;
        }
        &::-webkit-scrollbar-track {
            background: rgba($light-grey, 0.4);
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba($dark-color, 0.7); 
            border-radius: 50px;
            border-right: 1.5px  rgba($dark-color, 0.7) solid;
            border-left: 1.5px  rgba($dark-color, 0.7) solid;
            background-clip: padding-box;
        }
    }
    .buttons {
        min-height: 90px;
        bottom: 0;
        width: 100%;
        justify-content: center;
        gap: 0;
        padding: 20px 16px;
        background-color: white;
        z-index: 1000;
        &__reject, &__submit {
            font-size: 14px;
            width: 50%;
            justify-content: center;
            padding: 14px 10px;
            border: 2px solid $dark-color;
            border-radius: 0;
        }
        &__reject {
            border-right: none;
            padding: 14px 20px;
            &:after {
                right: 15px;
            }
        }
        &__submit {
            border-left: none;
        }
    }
}
