@use '../../../../style/variables.scss' as *;
.filters {
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 292px;
    padding: 24px 24px 80px;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    background-color: $filter-background;
}
