@font-face {
	font-family: 'Montserrat';
	src: url('./Montserrat-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Montserrat';
	src: url('./Montserrat-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: 'Montserrat';
	src: url('./Montserrat-Bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'Montserrat Alternates';
	src: url('./MontserratAlternates-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Montserrat';
	src: url('./MontserratAlternates-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: 'Montserrat';
	src: url('./MontserratAlternates-SemiBold.ttf');
	font-weight: 600;
}