@use '../../../../style/variables.scss' as *;
.accordeon {
    margin-top: 30px;
    &__item {
        &.active {
            .accordeon__item-title:after {
                opacity: 0;
                visibility: hidden;
                transition-delay: 0s;
            }
            .accordeon__item-inner {
                height: var(--content-height);
            }
            .accordeon__item-btn:before {
                display: none;
            }
        }
    }
    &__item-btn {
        position: relative;
        display: block;
        width: 100%;
        text-align: left;
        border: none;
        background-color: transparent;
        outline: none;
        user-select: none;
        cursor: pointer;
        &:before, &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            background-color: $dark-color;
        }
        &:after {
            width: 16px;
            height: 1px;
        }
        &:before {
            right: 7.5px;
            width: 1px;
            height: 16px;
        }
    }
    &__item-title {
        display: block;
        position: relative;
        color: $dark-color;
        font-size: 18px;
        font-weight: 500;
        padding: 16px 0;
        &:after {
            content: '';
            position: absolute;
            display: block;
            left: 0;
            right: 0;
            bottom: 0;
            height: 1px;
            width: 100%;
            background-color: $dark-white;
            opacity: 1;
            visibility: visible;
            transition-delay: 0.3s;
        }
    }
    &__item-inner {
        position: relative;
        height: 0px;
        overflow: hidden;
        transition: 0.3s ease-out height;
        &:after {
            content: '';
            position: absolute;
            bottom: 0; 
            left: 0;
            right: 0;
            width: 100%;
            height: 1px;
            background-color: $dark-white;
        }
    }
    &__item-text {
        color: $grey;
        font-size: 14px;
        font-weight: 400;
        padding-bottom: 16px;
    }

    .item-descr {
        &__text {
            b {
                font-weight: 600;
            }
        }
    }
    .item-characters {
        tbody tr:not(:last-child) {
            .table-title, .table-text {
                padding-bottom: 12px;
            }
        }
        .table-title {
            color: $dark-color;
            font-size: 14px;
            font-weight: 500;
            width: 100px;
        }
        .table-text {
            font-weight: 500;
            padding-left: 8px;
        }
    }
    .item-delivery {
        b {
            color: $dark-color;
            font-weight: 500;
            &.item-delivery__main {
                font-weight: 600;
            }
        }
    }
}
