.modal {
	height: 100vh;
	width: 100vw;
	background-color: rgba(0,0,0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	z-index: 9999;
	padding: 40px;
	user-select: none;
	pointer-events: none;
	transition: 0.2s ease-out opacity, 0.2s ease-out visibility;

	&__content {
		position: relative;
		padding: 32px;
		background-color: white;
		width: 100%;
		min-height: 400px;
		transform: scale(0.8);
		user-select: none;
		pointer-events: none;
		transition: 0.2s ease-out transform;

		&_close-btn {
			position: absolute;
			display: block;
			right: 20px;
			top: 14px;
			width: 40px;
			height: 40px;
			border: none;
			background-color: transparent;
			cursor: pointer;

			&:hover {
				svg {
					path {
						fill: #262626;
					}
				}
			}
			}
		}
	}

.modal_active {
	opacity: 1;
	visibility: visible;
	user-select: auto;
	pointer-events: initial;
	.modal__content{
		transform: scale(1);
		transition: 0.2s ease-out transform;
		user-select: auto;
		pointer-events: initial;
	}
}

.reveiew-added-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 400px;
	padding: 103px 58px;

	.review-added {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 12px;
		margin-bottom: 12px;

		&__title {
			font-size: 14px;
			font-weight: 500;
		}
		&__text {
			color:  #545454;
			font-size: 14px;
			font-weight: 500;
			text-align: center;
		}
	}
}

@media screen and (max-width: 650px) {
    .modal {
		padding: 40px;
        &__content {
			padding: 60px 16px 61px 16px;
			&_close-btn {
				right: 6px;
			}
		}
    }
}

@media screen and (max-width: 500px) {
    .modal {
		padding: 0;
        &__content {
			height: 100vh;
			min-height: 100vh;
			overflow: auto;
			&_close-btn {
				right: 6px;
			}
		}
    }

	.reveiew-added-wrapper {
		padding: 0px;

		display: flex;
		justify-content: center;
		align-items: center;

		height: 80vh;
	}

	.modal__content {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
