@use '../../../../style/variables.scss' as *;
.auth-dropdown {
    position: absolute;
    padding: 32px;
    background-color: $filter-background;
    right: 0px;
    top: 98%;
    min-height: 478px;
    max-width: 390px;
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    user-select: none;
    transition: 0.2s ease-in-out opacity, 0.2s ease-in-out visibility;
    &.auth-dropdown_active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        user-select: auto;
    }
    &__decorative-icon {
        position: absolute;
        right: 115px;
        top: 0;
        transform: translateY(-95%);
        fill: $filter-background;
    }
    &__close {
        position: absolute;
        width: 25px;
        height: 25px;
        right: 15px;
        top: 15px;
        background: url('../../../../assets/icons/filters/close-filters.svg') center center/cover no-repeat;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    &__title {
        margin: 0;
        text-align: center;
        color: $dark-color;
        text-align: center;
        font-family: Montserrat Alternates;
        font-size: 20px;
        font-weight: 600;
    }

    .form-login {
        margin-top: 32px;
    }

    .login-by-service {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 14px;
        &__title {
            margin: 0;
            padding: 0;
            color: $dark-color;
            font-size: 14px;
            font-weight: 500;
        }

        &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 3px;
            border: 1px solid $grey;
            img {
                display: block;
                width: 24px;
                height: 24px;
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .auth-dropdown {
        display: none;
    }
}
