@use '../../../style/variables.scss' as *;
.contact-us {
    margin-top: 160px;
    &__wrapper {
        padding: 75px;
        background-image: url('../../../assets/images/about-us/contact-us.png');
        background-position: 50% 60%;
        background-repeat: no-repeat;
    }

    &__title.about-title {
        text-align: left;
        color: $white;
    }
    &__descr.about-descr {
        max-width: 570px;
        margin-top: 10px;
        text-align: left;
        color: $white;
    }

    .contact-form {
        margin-top: 30px;
        max-width: 400px;
        display: flex;
        align-items:start;
        justify-content: space-between;
        gap: 6px;
        &__btn {
            height: 42px;
            width: 42px;
            background: $accent-color;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            transition: 0.2s ease-out background;
            flex: 1 0 auto;
            &:hover {
                background: $accent-color-hover;
            }
        }
        .email {
            width: 100%;
            outline: none;
            &__input:focus {
                border-color: $accent-color;
            }
            .form-error {
                color: white;
                font-size: 11px;
            }
        }
    }
}


@media screen and (max-width: 767px) {
    .contact-us {
        margin-top: 100px;
        .container {
            padding: 0;
        }
        &__wrapper {
            padding: 75px 16px;
            background-position: 50% 100%;
            background-size: cover;
        }

        .contact-form {
            margin-top: 20px;
        }
    }
}
