@use '../../../../style/variables.scss' as *;
.cart-window {
    max-height: 100%;

    &__title {
        color: $dark-color;
        font-family: Montserrat Alternates;
        font-size: 24px;
        font-weight: 600;
        padding-bottom: 10px;
        border-bottom: 1px solid $dark-white;
    }
    &__extra-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
    }
    &__open-cart {
        display: inline-block;
        text-align: center;
        max-width: 340px;
        width: 100%;
        border-radius: 3px;
        max-width: 340px;
        padding: 15px 10px;
        border: 1px solid $dark-color;
        color: $dark-color;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
    }

    &__loader {
        position: absolute;
        width: auto;
        left: 0px;
        right: 0px;
        min-height: 60px;
        backdrop-filter: blur(1px);
        background-color: rgb(255, 255, 255, 0.2);
        z-index: 2;
    }

    .cart-table__wrapper {
        max-height: 318px;
        height: 318px;
        overflow: auto;
        &::-webkit-scrollbar { 
            width: 0px; 
            background: transparent; 
        }
    }
    .cart-table {
        &__container {
            position: relative;
        }
        &__items {
            margin-top: 24px;
        }
    }
    .cart-product {
        grid-template-columns: minmax(290px, 364px) minmax(300px, 438px) minmax(30px, 50px);
        &__right {
            grid-template-columns: repeat(2, 1fr);
        }
        &__item:first-child {
            padding-right: 10px;
            justify-self: end;
            grid-column: 3 / 3;
            grid-row: 1/1;
        }
        &__info {
            grid-column: 1 / 1;
            grid-row: 1/1;
        }
        &__status, &__status-mobile {
            display: none;
        }
    }

    .cart-summary {
        max-width: 340px;
        width: 100%;
        &__inner-content {
            padding: 6px 0 20px 0;
        }
        &__products-info {
            gap: 10px;
            grid-column: 2 / 3;
        }
    }
}

@media (max-width: 767px) {
    .cart-window {
        &__extra-info {
            padding: 10px 0;
            justify-content: center;
            gap: 12px;
            flex-wrap: wrap;
        }

        .cart-table {
            &__wrapper {
                max-height: 358px;
                height: 358px;
            }
            &__items {
                margin-top: 18px;
            }
            &__item:first-child {
                padding-top: 0;
                border-top: 0;
            }
        }

        .cart-product {
            &__info {
                grid-column: 1 / 3;
            }
            &__right  {
                grid-column: 1 / 4;
            }
            &__title-link {
                font-size: 14px;
            }
            &__sku {
                font-size: 12px;
            }
        }

        .cart-summary {
            &__inner-content {
                display: none;
            }
        }
    }

    .modal:has(.cart-window) {
        .modal__content {
            padding: 18px 16px 10px 16px;
        }
    }
}

@media (max-width: 650px) {
    .cart-window {
        .cart-summary {
            &__products-info {
                margin-top: 0;
                grid-column: 1 / 3;
            }
            &__checkout {
                grid-row: 3 / 3;
                grid-column: 1 / 3;
            }
        }
        &__open-cart {
            max-width: 100%;
            grid-row: 2 / 2;
            grid-column: 1 / 3;
        }
    }
    
}

@media (max-width: 500px) {
    .cart-window {
        height: 100%;
        &__extra-info {
            grid-template-rows: 0.5fr 1fr 1fr;
        }
        .cart-table {
            &__container {
                max-height: calc(100% - 225px);
                height: 100%;
            }
            &__wrapper {
                max-height: 100%;
                height: 100%;
            }
        }
    }
}
