@import '../../../../style/variables.scss';

.reset-password {
	display: flex;
	width: 100%;
	gap: 83px;

	&__form {
		width: 100%;
		max-width: 380px;
		
		.customer-form {
			width: 100%;
			max-width: 380px;
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
		gap: 40px;
		margin-top: 25px;

		&_return {
			border: none;
			background: none;
			font-family: Montserrat;
			font-size: 14px;
			font-weight: 500;
			color: $grey;
			cursor: pointer;
		}

		.submit-button {
			margin-top: 0;
		}
	}
}

.reset-password-modal {
	
	.modal__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 250px;
	}

	&__title {
		text-align: center;
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 500;
		color: $grey;
		max-width: 387px;
		margin-bottom: 12px;
	}

	&__text {
		text-align: center;
		font-family: Montserrat;
		font-size: 12px;
		font-weight: 500;
		color: $light-grey;
		max-width: 387px;
	}
}