@use '../../style/variables.scss' as *;
.cart {
    &-content {
        margin-top: 30px;
    }
    &__title {
        color: $dark-color;
        font-family: Montserrat Alternates;
        font-size: 32px;
        font-weight: 600;
    }
}
