@use '../../../../style/variables.scss' as *;

.product-images {
	width: 57%;
	margin-bottom: 135px;

	&__main-image {
		width: 100%;
		max-height: 630px;
	}

	.product-images__slider {
		.swiper-slide {
			min-height: 630px;
			padding-top: 70%;
			overflow: hidden;
			position: relative;

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				padding-bottom: 10px;
				user-select: none;
			}
		}

		.swiper-button-prev {
			left: 28px;
			color: $white;

			&::after {
				font-size: 20px;
			}
		}
		.swiper-button-next {
			right: 28px;
			color: $white;

			&::after {
				font-size: 20px;
			}
		}

		.swiper-slide-active {
			min-width: 100%;
			height: 100%;
		}
	}

	// -------------------------- SLIDER THUMBS --------------------------

	.product-images__slider-thumbs {

		.swiper-wrapper {
		.swiper-slide {
			cursor: pointer;
			width: 25%;
			
			img {
				max-height: 120px;
				user-select: none;
				display: block;
				width: 100%;
				object-fit: cover;
			}
		}

		.swiper-slide:last-child {
  		margin-right: 0 !important;
		}
	}
}
}