@use '../../../../style/variables.scss' as *;

.product-images {
	width: 57%;
	margin-bottom: 135px;

	&__main-image {
		width: 100%;
		position: relative;

		.content-loader {
			z-index: 10;
			background: rgba(0,0,0, 0.3);
		}

		.slider-image__loader {
			position: absolute;
		}
	}

	.product-images__slider {
		.swiper-slide {
			max-height: 630px;
			padding-top: 70%;
			overflow: hidden;
			position: relative;

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				padding-bottom: 10px;
				user-select: none;
			}
		}

		.swiper-button-prev {
			left: 28px;
			color: $white;

			&::after {
				font-size: 20px;
			}
		}
		.swiper-button-next {
			right: 28px;
			color: $white;

			&::after {
				font-size: 20px;
			}
		}

		.swiper-slide-active {
			min-width: 100%;
			height: 100%;
		}
	}

	// -------------------------- SLIDER THUMBS --------------------------

	.product-images__slider-thumbs {

		.swiper-wrapper {
		.swiper-slide {
			opacity: 0.7;
			cursor: pointer;
			width: 25%;
			
			img {
				max-height: 120px;
				user-select: none;
				display: block;
				width: 100%;
				object-fit: cover;
			}
		}

		.swiper-slide:last-child {
  		margin-right: 0 !important;
		}
	}
}
}

.swiper-slide-thumb-active {
	opacity: 1 !important;
}

@media (max-width: 1150px) {
	.product-images {
		margin-bottom: 0;
	}
}

@media (max-width: 960px) {
	.product-images {
		.product-images__slider {
			.swiper-slide {
				height: auto !important;
			}
	
			.swiper-button-prev,
			.swiper-button-next {
				display: none;
			}
		}
	}
}

@media (max-width: 800px) {
	.product-images {
		margin-bottom: 32px;

		&__main-image {
			min-height: auto;
		}

		.product-images__slider {
			.swiper-slide-active {
				min-width: 328px;
				min-height: 374px;
			}
	}
	.product-images__slider-thumbs {

		.swiper-wrapper {
		.swiper-slide {
			opacity: 0.7;
			cursor: pointer;
			width: 25%;
			
			img {
				min-height: 60px;
				min-width: 79px;
			}
		}

		.swiper-slide:last-child {
  		margin-right: 0 !important;
		}
	}
}
}
}
