@use '../../../../style/variables.scss' as *;
.arrow-up {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 16px;
    bottom: 3%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: $dark-white;
    user-select: none;
    opacity: 0;
    visibility: hidden;
    transition: 0.1s ease-out opacity, 0.1s ease-out visibility;
    cursor: pointer;
    z-index: 999;
    &:after {
        content: '';
        display: block;
        width: 10px;
        height: 21px;
        background: url('../../../../assets/icons/arrow-up/arrow-up.svg') center center/cover no-repeat;
        transition: 0.2s ease-out background-image;
    }
    &:hover {
        background-color: $grey;
        &:after {
            background: url('../../../../assets/icons/arrow-up/arrow-up_hover.svg') center center/cover no-repeat;
        }
    }
    &.active {
        opacity: 1;
        visibility: visible;
        transition: 0.3s ease-out opacity, 0.3s ease-out visibility, 0.2s ease-out background-color;
    }
}
