@import '../../../../../assets/fonts/fonts.scss';
@import '../../../../../style/variables.scss';

.searchBlock {
	display: none;
	position: absolute;
	top: calc(100% - 1px);
	right: 120px;
	max-width: 700px;
	width: 100%;
	background-color: white;
	z-index: 2;
	transition: 0.3s ease-out height;
	&__content-wrapper {
		padding: 0px;
	}
	&__title, &__title-second {
		font-size: 14px;
		line-height: 17px;
		color: $dark-color;
		padding: 6px;
		border-bottom: 1px solid $dark-white;
	}
	&__title-second {
		margin-top: 10px;
	}
	&__list {
		margin-top: 8px;
	}
	&__product-link {
		padding: 8px 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
		transition: 0.2s ease-out background-color;
		&:hover {
			background-color: rgba($accent-color, 0.2);
		}
	}
	&__product-img {
		width: 56px;
		height: 46px;
		flex-shrink: 0;
		object-fit: cover;
		
	}
	&__product-title {
		width: 100%;
		text-align: left;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		display: flex;
		color: $dark-color;
		&_search {
			font-weight: 600;
		}
	}
	&__product-price-wrapper {
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: auto;
		gap: 4px;
	}
	&__product-price {
		font-size: 14px;
		font-weight: 600;
		line-height: 17px;
		color: $grey;
		&_discount {
			font-size: 12px;
			font-weight: 500;
			line-height: 14.5px;
			text-decoration: line-through;
			color: $light-grey;
		}
	}
	
	&__list-category-inner {
		height: 0;
		overflow: hidden;
		transition: 0.2s ease-out height;
		&.active {
			height: var(--list-height);
		}
	}

	&__category-link {
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
		transition: 0.2s ease-out background-color;
		&:hover {
			background-color: rgba($accent-color, 0.2);
		}
	}
	&__category-text {
		width: 100%;
		text-align: left;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		&_search {
			font-weight: 600;
		}
		&_second {
			font-weight: 600;
			color: $grey;
		}
	}
	&__category-quantity {
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		color: $grey;
	}
	&__list-toggle-btn {
		display: block;
		margin: 0 auto;
		margin-top: 20px;
		font-weight: 600;
		font-size: 12px;
		line-height: 14.5px;
		padding: 6px;
		text-transform: uppercase;
		background: transparent;
		border: none;
		cursor: pointer;
		transition: 0.2s ease-out color;
		&:hover {
			color: $accent-color;
		}
	}

	&__block {
		&-label {
			display: none;
			position: relative;
		}

		&_searchIcon {
			position: absolute;
			left: 24px;
			top: 50%;
			transform: translateY(-50%);
		}

		&_input {
			width: 100%;
			padding: 15px 55px;
			border: none;
			border-bottom: 1px solid $dark-white;
			background-color: $white;
			font-family: 'Montserrat';
			font-size: 16px;
			font-weight: 500;
			line-height: 20px;
			outline: none;

			&::placeholder {
				font-family: 'Montserrat';
				font-size: 16px;
				font-weight: 400;
				line-height: 20px;

			}
		}

		&_closeIcon {
			position: absolute;
			right: 6px;
			padding: 14px;
			top: 50%;
			transform: translateY(-50%);
			border: none;
			background: none;
			cursor: pointer;
		}
	}

	&.searchBlock-active {
		.searchBlock__content-wrapper {
			padding: 20px;
		}
	}
}

@media screen and (max-width: 960px) {
	.searchBlock {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		max-width: 100%;
		width: 100%;
		height: 100vh;
		background-color: white;
		z-index: 2;
		&__block-label {
			display: block;
		}
		&__content-wrapper {
			max-height: calc(100% - 51px);
			overflow: auto;
		}
	}
}
