.catalog-products {

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		justify-self: center;
		align-self: center;
		justify-content: center;
		gap: 50px 32px;

		.content-loader {
			grid-column: 1 / 4;
		}
}

	&__card {
		display: flex;
	}
}

@media (max-width: 1012px) {
	.catalog-products {

		&__list {

			.catalog-products__card {
				display: flex;
				justify-content: center;
				align-items: center;
			}
	}
	}
}

@media (max-width: 768px) {
	.catalog-products {

		&__list {

			.catalog-products__card {
				display: flex;
				justify-content: initial;
				align-items: initial;
			}
	}
	}
}

@media (max-width: 673px) {
	.catalog-products {

		&__list {

			.catalog-products__card {
				display: flex;
				justify-content: center;
				align-items: center;
			}
	}
	}
}