.catalog-products {
	position: relative;
	min-height: calc(100vh - 450px);
	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		justify-self: center;
		align-self: center;
		justify-content: center;
		gap: 50px 32px;
	}

	&__loading-wrapper {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(248, 248, 248, 0.3);
		backdrop-filter: blur(1px);
		z-index: 3;
		user-select: none;
	}

	&__card {
		display: flex;
	}
}

@media (max-width: 1012px) {
	.catalog-products {

		&__list {

			.catalog-products__card {
				display: flex;
				justify-content: center;
				align-items: center;
			}
	}
	}
}

@media (max-width: 768px) {
	.catalog-products {

		&__list {

			.catalog-products__card {
				display: flex;
				justify-content: initial;
				align-items: initial;
			}
	}
	}
}

@media (max-width: 673px) {
	.catalog-products {

		&__list {

			.catalog-products__card {
				display: flex;
				justify-content: center;
				align-items: center;
			}
	}
	}
}