@import '../../../assets/fonts/fonts.scss';
@import '../../../style/variables.scss';

.dropdown-menu {
	display: block;
	position: absolute;
	width: 100%;
	border: 1px solid $dark-white;
	background-color: $white;
	box-shadow: 0px 4px 4px 0px #0000001A;
	top: 100%;
	font-size: 14px;
	font-weight: 400;
	color: $grey;
	opacity: 0;
	visibility: hidden;
	transition: opacity .2s ease-out, visibility .2s ease-out;

	.container {
		display: flex;
		justify-content: space-between;
		gap: 48px;
	}

	&__list {
		padding: 30px 0 60px 0;
		width: 122px;
		&_title {
			font-size: 16px;
			font-weight: 600;
			margin-bottom: 24px;
			color: $dark-color;
			transition: color .2s ease-out;

			&:hover {
				color: $accent-color
			}
		}

		&_items {
			display: flex;
			flex-direction: column;
			gap: 16px;

			a {
				text-decoration: underline;
				text-underline-offset: 3px;
				text-decoration-thickness: 1px;
				text-decoration-skip-ink: none;
				text-decoration-color: transparent;
				transition: 0.2s ease-out text-decoration;
				&:hover {
				text-decoration-color: inherit;
			}
		}
	}
}
}

.dropdown-menu-active {
	opacity: 1;
	visibility: visible;
}

.content-loader {
	width: 100%;
	margin: auto;
}