@use '../../../../style/variables.scss' as *;
.cart-summary {
    &__inner-content {
        padding: 30px 30px 50px 30px;
        background-color: $filter-background;
    }
    &__title {
        color: $dark-color;
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 10px;
        border-bottom: 1px solid $dark-white;
    }
    &__products-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;
    }
    &__quantity {
        color: $dark-color;
        font-size: 16px;
        font-weight: 500;
    }
    &__cost {
        color: $dark-color;
        font-size: 16px;
        font-weight: 600;
    }

    &__checkout {
        display: block;
        padding: 16px 10px;
        width: 100%;
        border: none;
        border-radius: 2px;
        color: $white;
        font-size: 14px;
        font-weight: 500;
        background-color: $dark-color;
        cursor: pointer;
        transition: 0.2s ease-out background-color;
        &:hover {
            background-color: $grey;
        }
    }
}