@use '../../style/variables.scss' as *;
.categories-nav {
    margin-top: 20px;
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    &__item {
        padding: 8px;
    }
    &__btn {
        position: relative;
        font-size: 16px;
        font-weight: 400;
        font-family: Montserrat Alternates;
        background-color: transparent;
        border: none;
        cursor: pointer;
        &:after {
            content: '';
            position: absolute;
            height: 0px;
            width: 100%;
            bottom: -4px;
            left: 0;
            right: 0;
            background-color: transparent;
        }
        &.active{
            font-weight: 600;
            &:after {
                height: 1px;
                background-color: $accent-color;            
            }
        }
    }
}
