@use '../../../../style/variables.scss' as *;

.cart-product {
    display: grid;
    grid-template-columns: 50px minmax(300px, 364px) minmax(345px, 438px);
    grid-template-rows: auto 0;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid $dark-white;
    overflow: hidden;
    transition: 0.3s ease-out grid-template-rows;
    
    &__info {
        display: flex;
        align-items: center;
        gap: 16px;
    }
    &__right {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
        text-align: center;
        gap: 10px;
    }

    &__trash {
        border: none;
        background-color: transparent;
        cursor: pointer;
        &-icon {
            fill: $light-grey;
        }
    }

    &__link {
        display: flex;
        height: 100%;
        background-color: red;
    }
    &__photo {
        width: 138px;
        min-height: 100px;
        height: 100%;
        display: block;
        object-fit: cover;
    }


    &__text {
        display: inline-flex;
        flex-direction: column;
    }
    &__title-link {
        color: $dark-color;
        font-family: Montserrat Alternates;
        font-size: 16px;
        font-weight: 500;
    }
    &__sku {
        margin-top: 6px;
        color: $light-grey;
        font-size: 14px;
        font-weight: 500;
    }
    &__color, &__color > span {
        margin-top: 9px;
        color: $dark-color;
        font-size: 14px;
        font-weight: 500;
    }

    &__quantity {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        &-minus, &-plus {
            flex-shrink: 0;
            position: relative;
            display: block;
            width: 16px;
            height: 16px;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
        &-minus {
            background: url('../../../../assets/icons/cart/minus.svg') center center/cover no-repeat;
        }
        &-plus {
            background: url('../../../../assets/icons/cart/plus.svg') center center/cover no-repeat;
        }
    }
    &__quantity-input {
        min-width: 50px;
        padding: 8px;
        max-width: 80px;
        width: 100%;
        text-align: center;
        border: 1px solid transparent;
        outline: transparent;
        background-color: $filter-background;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        &:focus {
            border-color: $light-grey;
        }
    }
    &__quantity-input[type=number] {
        -moz-appearance: textfield;
    }

    &__price {
        display: flex;
        flex-direction: column;
        gap: 4px;
        span {
            color: $grey;
            font-size: 16px;
            font-weight: 500;
        }

        &.discount-price {
            font-size: 12px;
            font-weight: 500;
            color: $light-grey;
            text-decoration: line-through;
        }
    }

    &__error-message {
        visibility: hidden;
        opacity: 0;
        margin-top: 16px;
        padding: 14px 20px;
        background: rgba(197, 113, 0, 0.20);
        border-radius: 3px;
        grid-column: 1 / 4;
        grid-row: 2 / 2;
        color: $dark-color;
        font-size: 14px;
        font-weight: 500;
        transition: 0.1s ease-out visibility, 0.1s ease-out opacity;
    }
    
    &.wrong-quantity {
        &.cart-product {
            grid-template-rows: auto 65px;
        }
        .cart-product {
            
            &__error-message {
                visibility: visible;
                opacity: 1;
                transition: 0.2s 0.1s ease-out visibility, 0.2s 0.1s ease-out opacity;
            }
        }
    }

    &__status {
        max-width: 100px;
        font-size: 14px;
        font-weight: 500;
        color: $grey;
    }
    &__status-mobile {
        margin-top: 4px;
        color: $grey;
        font-size: 12px;
        font-weight: 500;
        display: none;
    }
    &.out-of-stock {
        .cart-product__status, .cart-product__status-mobile {
            color: red;
        }
    }
}

@media (max-width: 767px) {
    .cart-product {
        align-items: start;
        grid-template-columns: 1fr 50px !important;
        grid-template-rows: auto auto 0;
        padding-bottom: 8px;
        &.wrong-quantity {
            &.cart-product {
                grid-template-rows: auto auto 65px;
            }
        }
        
        &__item:first-child {
            grid-column: 2 / 2;
        }
        &__info {
            grid-column: 1 / 2;
            grid-row: 1 / 1;
        }
        &__status {
            display: none;
        }
        &__status-mobile {
            display: inline-block;
        }
        &__right {
            grid-template-columns: repeat(2, 1fr);
            grid-row: 2 / 2;
            grid-column: 1 / 2;
            margin-top: 10px;
        }
        &__quantity {
            justify-self: start;
        }
        &__price {
            justify-self: end;
        }

        &__error-message {
            grid-row: 3 / 3;
        }
    }
}

@media (max-width: 460px) {
    .cart-product {
        &.wrong-quantity {
            &.cart-product {
                grid-template-rows: auto auto 85px;
            }
        }
    }
}
