.customers-review {

	&__slider_cards {

		&_card {
			width: auto;
			height: auto;

			&_header {
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;

				&_title {
					font-size: 18px;
					font-weight: 500;
				}
				&_date {
					font-size: 12px;
					font-weight: 400;
				}
				&_rating {
					font-size: 14px;
					flex-basis: 100%;
					margin-top: 6px;
				}
			}

			&_review {
				margin-top: 24px;
			}
		}
	}

}