@import '../../assets/fonts/fonts.scss';
@import '../../style/variables.scss';

.wrapper {
	position: fixed;
	background: $white;
	box-shadow: 0px 4px 4px 0px #0000001A;
  	width: 100%;
	top: 0;
  	left: 0;
  	right: 0;
	z-index: 1000;
}

.searchBlock {
	display: none;
}

.header {
	max-width: 1352px;
	height: 73px;
  	padding: 15px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: auto;
  	margin-right: auto;
	
	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		&_img {
			width: 80px;
			height: 40px;
			transition: width .1s ease-out, height .1s ease-out;
		}
	}

	&__nav_list {
		display: flex;
		gap: 27px;
		color: $dark-color;

		.li-dropdown-active {
			position: relative;
			a::after {
				transform: scaleX(1);
			}
		}

		a {
			text-decoration: none;
		}

		li {
			display: flex;
			justify-content: center;
			align-items: center;
			min-width: 78px;
			font-family: 'Montserrat';
			font-size: 14px;
			padding: 5px;
			position: relative;
		}

		a::after {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: $accent-color;
			transform: scaleX(0);
			transition: transform 0.2s linear;
		}

		a:hover::after {
			transform: scaleX(1);
		}

	}
	
	.active {
		font-weight: 600;
	}
	
	&__search {
		position: relative;
	}

	&__search_input {
		width: 320px;
		padding: 8px 12px 8px 33px;
		border-radius: 16px;
		outline: none;
		border: 1px solid $dark-color;
	}

	&__search_icon {
		position: absolute;
		top: 3px;
		padding-left: 13px;
	}

	&__icons {
		display: flex;
		gap: 27px;
		position: relative;
		user-select: none;
		cursor: pointer;

		img {
			width: 20px;
			height: 20px;
		}
	}

	&__mobile {
		&_icons {
			display: none;
		}
	}
}

.header__icons_favorite-counter,
.header__icons_cart-counter, 
.header__mobile_icons_cart-counter {
	font-size: 10px;
	font-weight: 500;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	width: 16px;
	height: 16px;
	background-color: #C57100;
	border-radius: 100%;
}

.header__icons_favorite-counter {
	top: -5px;
	right: 38px;
}

.header__icons_cart-counter {
	top: -5px;
	right: -7px;
}

@media (max-width: 1130px) {
	.header {
		padding: 8px 16px;
		height: 60px;
		&__nav_list {
			display: flex;
			gap: 10px;
			color: $dark-color;
		}

		&__search_input {
			width: 220px;
		}
}
}

@media (max-width: 960px) {
	.searchBlock {
		display: none;
		z-index: 1001;
	}

	.searchBlock-active {
		display: block;
	}

	.header {
		transition: height .1s ease-out;
		&-active {
			transition: height .3s ease-in-out;
		}

		&__nav_list {
			display: none;
		}

		&__search_input {
			display: none;
		}

		&__search_icon {
			display: none;
		}

		&__icons {
			display: none;

			&_cart-counter {
				top: 13px;
    		right: 52px;
			}
		}

		&__mobile {

			&_icons {
				display: flex;
				align-items: center;
				gap: 19px;

				&_search {
					
					&_button {
						background: none;
						border: none;
					}
				}
			}
		}
}

.header__mobile_icons_cart-counter {
	top: 13px;
	right: 52px;
	transition: top .1s ease-out;
}

.display-none {
	display: none;
}

.header-active {
	height: 40px;
	
	.header__logo_img {
		width: 55px;
		height: 26px;
		transition: width .3s ease-in-out, height .3s ease-in-out;
	}
	
	.header__mobile_icons_cart-counter {
		top: 3px;
		transition: top .3s ease-in-out;
	}
}
}