@import '../../../assets/fonts/fonts.scss';
@import '../../../style/variables.scss';

.mobileSearch {
	height: 100vh;

	&__block {
		display: flex;
		align-items: center;

		&_searchIcon {
			position: absolute;
			margin-left: 18px;
			top: 19px;
		}

		&_input {
			width: 100%;
			padding: 20px 55px;
			border: none;
			border-bottom: 1px solid $dark-white;
			background-color: $white;
			font-family: 'Montserrat';
			font-size: 16px;
			font-weight: 500;
			line-height: 20px;
			outline: none;

			&::placeholder {
				font-family: 'Montserrat';
				font-size: 16px;
				font-weight: 400;
				line-height: 20px;

			}
		}

		&_closeIcon {
			padding: 14px;
			position: absolute;
			right: 0;
			border: none;
			background: none;
		}
	}
}