@use '../../../../style/variables.scss' as *;

.forgotten-password__sign-in {
    margin-top: 40px;
    max-width: 500px;
    width: 100%;

    &-wrapper {
        margin-top: 20px;

        &_checkbox {
            margin-top: 11px;
        }
    }

    &-label {
        color: $light-grey;
        font-size: 14px;
        font-weight: 500;
    }

    &-input--error.email__input {
        border-color: $warning;
    }

    &-submit {
        width: 100%;
        padding: 16px 10px;
        margin-top: 40px;
        margin-bottom: 18px;
        padding-left: 18px;
        padding-right: 18px;
        border-radius: 2px;
        border: none;
        background: $dark-color;
        color: $light-color;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        transition: 0.2s ease-out background-color;

        &:hover {
            background: $grey;
        }
    }
}

.forgotten-password {
    &__loader {
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        img {
            width: 50px;
            height: 50px
        }
    }
}

@media screen and (max-width: 991px) {
    .forgotten-password__sign-in-submit:hover {
        background: $dark-color;
    }
}

@media screen and (max-width: 500px) {
    .forgotten-password__sign-in-submit {
        margin-top: 293px;
    }

    .forgotten-password {
        &__loader {
            top: 50%;
            bottom: auto;
            transform: translateY(-50%) translateX(-50%);
            img {
                width: 70px;
                height: 70px;
            }
        }
    }
}


.forgotten-password__modal-title {
    text-align: center;
    font-family: 'Montserrat Alternates';
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 80px;
    padding-top: 18px;
}


.forgotten-password__modal {
    // padding: 34px;

    &-form {
        position: relative;
    }

    .modal__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 250px;
    }

    &__title {
        text-align: center;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        color: $grey;
        max-width: 387px;
        margin-bottom: 12px;
    }

    &__text {
        text-align: center;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        color: $light-grey;
        max-width: 387px;
    }
}

@media screen and (max-width: 500px) {
	.forgotten-password__modal {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
