@import '../../../../style/variables.scss';

.payment-method {
	margin-top: 40px;

	&__title {
		font-weight: 600;
		font-size: 16px;
		margin-bottom: 20px;
	}

	&__comment {
		margin-top: 40px;

		&_label {

			&_title {
				font-family: Montserrat;
				font-size: 14px;
				font-weight: 500;
				color: $light-grey;
				margin-bottom: 14px;
			}

			&_text {
				min-width: 792px;
				min-height: 120px;
				width: 100%;
				height: 100%;
				padding: 12px 20px;
				font-family: Montserrat;
				font-size: 14px;
				font-weight: 500;
				border: none;
				border-radius: 3px;
				background: $filter-background;
				resize: none;

				&:focus {
					outline: 1px solid black;
				}
			}
		}
	}

	&__completion {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 40px;

		&_input {
			&_title {
				font-family: Montserrat;
				font-size: 14px;
				font-weight: 500;
				margin-left: 12px;
			}
		}

		.submit-button {
			margin-top: 0;
			max-width: 344px;
			width: 100%;
		}
	}
}