@use '../../../style/variables.scss' as *;

.product-card {
    &__slider-link {
        display: block;
        position: relative;
    }
    &__slider {
        position: relative;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        background-color: transparent;
        width: 100%;
        height: 350px;
    }
    &__image-overflow {
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    &__image-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 0.5s ease-out opacity;
        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #000000;
            opacity: 0;
            transition: 0.2s ease-out opacity;
        }
        &.active {
            opacity: 1;
        }
    }
    &__image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        user-select: none;
    }
}
