@import '../../../style/variables.scss';

.new-customer-form {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;

	&__item {
		width: 100%;
		max-width: 380px;
		display: flex;
		flex-direction: column;
		gap: 14px;
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 500;
		color: $light-grey;

		&_input {
			padding: 12px 20px;
			font-family: Montserrat;
			font-size: 14px;
			font-weight: 500;
			color: $dark-color;
			background: $filter-background;
			border: none;
			border-radius: 3px;
			
			&:focus {
				outline: 1px solid $light-grey;
			}
		}
	}
}

.submit-button {
	position: absolute;
	right: 0;
	border: none;
	border-radius: 2px;
	background: $dark-color;
	color: $white;
	padding: 16px 10px;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 500;
	width: 200px;
	margin-top: 30px;
	cursor: pointer;
	transition: background .2s ease-out;

	&:hover {
		background: $grey;
	}
}