@use '../../../../style/variables.scss' as *;
.color-selection {
    margin-top: 30px;
    &__color-descr {
        color: $dark-color;
        font-size: 16px;
        font-weight: 500;
        span {
            text-transform: lowercase;
        }
    }
    &__list {
        margin-top: 10px;
        display: flex;
        align-items: center;
        padding: 4px 0 4px 4px;
        gap: 19px;
    }
    &__link {
        position: relative;
        display: inline-block;
        border-radius: 50%;
        width: 29px;
        height: 29px;
        &:after {
            content: '';
            display: block;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: transparent;
            border: 4px solid transparent;
        }
        &.active-link::after {
            top: 2px;
            left: 2px;
            right: 2px;
            bottom: 2px;
            background-color: transparent;
            border-color: white;
        }
        &.active-link {
            scale: 1.25;
        }
    }
}
