@use '../../style/variables.scss' as *;
.popular-items {
    margin-top: 130px;
    &__title {
        font-size: 28px;
        font-family: Montserrat Alternates;
        font-weight: 600;
    }
    &__nav {
        margin-top: 20px;
    }
    &__nav-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    &__nav-item {
        padding: 8px;
        &:first-child {
            padding-left: 0;
        }
    }
    &__nav-btn {
        position: relative;
        font-size: 16px;
        font-family: Montserrat Alternates;
        font-weight: 400;
        background-color: transparent;
        border: none;
        cursor: pointer;
        &:after {
            content: '';
            position: absolute;
            height: 0px;
            width: 100%;
            bottom: -4px;
            left: 0;
            right: 0;
            background-color: transparent;
        }
        &.active{
            font-weight: 600;
            &:after {
                height: 1px;
                background-color: $accent-color;            
            }
        }
    }

    &__products {
        min-height: 1050px;
        margin-top: 30px;
        visibility: hidden;
        display: flex;
        flex-wrap: wrap;
        opacity: 0;
        transition: 0.2s ease-out opacity, 0.2s ease-out visibility;
        &.active {
            visibility: visible;
            opacity: 1;
        }
    }
    &__products-item {
        width: 304px;
    }
    
    &__slider {
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        width: 100%;
        .swiper-wrapper {
            flex-direction: row !important;
            row-gap: 80px;
            min-width: 100%;
        }
        .swiper-slide {
            margin-top: 0 !important;
            margin-right: 0 !important;
            display: flex;
            align-items: center;
            .popular-items__products-item {
                display: block;
                height: 100%;
            }
        }
    }
}


@media screen and (max-width: 1350px) {
    .popular-items__products {
        min-height: 525px;
    }
}
@media screen and (max-width: 450px) {
    .popular-items {
        margin-top: 74px;
        .container_pd-right-off {
            padding-right: 0;
        }
        &__title {
            font-size: 20px;
        }
        &__nav {
            display: none;
        }
        &__products {
            margin-top: 24px;
        }
        &__products-item {
            width: 100%;
        }
    }
}
