@use '../../style/variables.scss' as *;
.popular-items {
    margin-top: 130px;
    &__title {
        font-size: 28px;
        font-family: Montserrat Alternates;
        font-weight: 600;
    }
    &__nav {
        margin-top: 20px;
    }
    &__nav-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    &__nav-item {
        padding: 8px;
        &:first-child {
            padding-left: 0;
        }
    }
    &__nav-btn {
        position: relative;
        font-size: 16px;
        font-weight: 400;
        background-color: transparent;
        border: none;
        cursor: pointer;
        &:after {
            content: '';
            position: absolute;
            height: 0px;
            width: 100%;
            bottom: -4px;
            left: 0;
            right: 0;
            background-color: transparent;
        }
        &.active{
            font-weight: 600;
            &:after {
                height: 1px;
                background-color: $accent-color;            
            }
        }
    }

    &__products {
        height: 100%;
        margin-top: 30px;
        visibility: hidden;
        display: flex;
        flex-wrap: wrap;
        opacity: 0;
        transition: 0.2s ease-out opacity, 0.2s ease-out visibility;
        &.active {
            visibility: visible;
            opacity: 1;
        }
    }
    
    &__slider {
        height: 100%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        .swiper-wrapper {
            flex-direction: row !important;
            row-gap: 80px;
            width: calc(100% + 45px) !important;
        }
        .swiper-slide {
            margin-top: 0 !important;
            height: calc((100% - 30px) / 2) !important;
        }
    }
}

@media screen and (max-width: 1293px) {
    .popular-items__slider {
        .swiper-wrapper {
            width: 100% !important;
        }
    }
}

@media screen and (max-width: 450px) {
    .popular-items {
        margin-top: 64px;
        &__title {
            font-size: 20px;
        }
        &__nav {
            display: none;
        }
        &__products {
            margin-top: 24px;
        }
        &__products-item {
            width: 100%;
        }
    }
}
