@use '../../../../style/variables.scss' as *;

.cart-empty {
    padding: 40px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: calc(100vh - 650px);
    height: 100%;
    &__content {
        display: flex;
        margin: 20px 0;
        align-self: flex-end;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 12px;
    }

    &__link {
        margin: 0 auto;
        margin-top: auto;
        color: $dark-color;
        font-size: 14px;
        font-weight: 500;
        text-decoration-line: underline;
        text-decoration-skip-ink: none;
        text-underline-offset: 3px;
    }
}
