@import '../../assets/fonts/fonts.scss';
@import '../../style/variables.scss';

.breadcrumbs {
	margin-top: 20px;
	margin-bottom: 40px;

	&__list {
		display: flex;
		gap: 40px;

		&_item {
			color: $light-grey;
			position: relative;

			&:last-child .active {
				font-family: 'Montserrat';
				color: $dark-color;
				pointer-events: none;
			}
			
			&_link {
				font-family: 'Montserrat Alternates';
				font-size: 14px;
			}

			&::after {
				content: "";
				position: absolute;
				background: url('../../assets/icons/catalogue/routing-arrow.svg');
				background-repeat: no-repeat;
				width: 15px;
				height: 8px;
				top: 7px;
				right: -25px;
			}

			&:last-child::after {
				display: none;
			}
		}

		&_item:last-child {
			color: $dark-color;
		}
	}
}
