@import '../../../../assets/fonts/fonts.scss';
@import '../../../../style/variables.scss';

.customers-review {
	margin-top: 130px;

	&__slider-top {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&_title {
			font-family: 'Montserrat Alternates';
			font-weight: 600;
			font-size: 28px;
			font-weight: 600;
		}
	}

	.swiper {
		margin-top: 30px;

		.swiper-slide{
			margin-right: 32px !important; 
			max-width: 304px;
		}
	}

	&__navigation{
		margin-right: -10px;
		display: flex;
		gap: 10px;
}
&__prev-btn, &__next-btn {
		background-color: transparent;
		padding: 10px;
		border: none;
		cursor: pointer;
}
&__prev-icon, &__next-icon {
		fill: $grey;
}

.swiper-button-disabled svg {
		fill: $dark-white;
}

	&__button {
		color: $white;
		font-size: 16px;
		font-weight: 500;
		margin-top: 30px;
		display: flex;
		width: 192px;
		padding: 12px 10px;
		justify-content: center;
		align-items: center;
		border-radius: 2px;
		background: $dark-color;
		cursor: pointer;
	}
}

.customers-review__modal {
	width:  60%;
	padding: 32px;
	background-color: $white;
	display: flex;
	flex-direction: column;
	align-items: center;

	&_title {
		font-family: 'Montserrat Alternates';
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 8px;
	}

	&_rating {
		margin-top: 30px;
		color: $dark-color;
		display: flex;
		flex-direction: column;
		align-items: center;

		&_title {
			color: $dark-color;
			font-size: 20px;
			font-weight: 500;
			margin-bottom: 8px;
		}

		&_stars {
			display: flex;
			gap: 8px;
		}
	}

	&_inputs {
		margin-top: 30px;
		width: 100%;

		form {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			justify-content: space-between;
			gap: 20px;
			margin-bottom: 40px;
		}

		&_input {
			display: flex;
			padding: 12px 20px;
			align-items: center;
			flex-basis: 48%;
			border: none;
			border-radius: 3px;
			background: $filter-background;
			outline: none;
			font-size: 14px;
			font-weight: 500;
			color: $dark-color;

			&::placeholder {
				color: $light-grey;
			}
		}
	}

	&_button {
		padding: 16px 10px;
		border: none;
		border-radius: 2px;
		background: $dark-color;
		color: $white;
		font-weight: 500;
		width: 50%;
		cursor: pointer;
	}
}
