@use '../../../style/variables.scss' as *;
.aside {
    max-width: 278px;
    min-width: 230px;
    width: 100%;
    height: 100%;
    border-right: 2px solid $filter-background;
    height: auto;
    &__list {
        position: sticky;
        top: 100px;
    }
    &__item { 
        &-link {
            position: relative;
            height: 100%;
            display: block;
            padding: 10px 20px 10px 0;
            font-size: 16px;
            font-weight: 500;
            color: $grey;
            transition: 0.2S ease-out color;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: -2px;
                width: 2px;
                background-color: transparent;
                transition: 0.2s ease-out background-color;
            }
            &.active-link {
                color: $accent-color;
                &:after {
                    background-color: $dark-color;
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .aside {
        display: none;
    //     max-width: 100%;
    //     padding-top: 60px;
    //     padding-bottom: 20px;
    //     padding-left: 20px;
    //     border: none;
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     background-color: white;
    //     -webkit-box-shadow: 0px 3px 12px 3px rgba(0,0,0,0.24);
    //     -moz-box-shadow: 0px 3px 12px 3px rgba(0,0,0,0.24);
    //     box-shadow: 0px 3px 12px 3px rgba(0,0,0,0.24);
    //     &__list {
    //         display: grid;
    //         grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    //         grid-template-rows: 1fr;
    //         grid-auto-rows: 1fr;
    //         column-gap: 30px;
    //         row-gap: 10px;
    //     }
    //     &__item {
    //         &-link{
    //             font-size: 14px;
    //             padding: 5px;
    //             &:after {
    //                 display: none;
    //             }
    //             &.active-link {
    //                 color: $accent-color;
    //                 &:after {
    //                     background-color: $dark-color;
    //                 }
    //             }
    //         }
    //     }
}
}
