@use '../../style/variables.scss' as *;
.signin {
    padding-top: 50px; 
    display: flex;
    align-items: center;
    flex-direction: column;
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        margin: 0;
        color: $dark-color;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
    }
}

@media screen and (max-width: 450px) {
    .signin {
        padding-top: 24px; 
        &__title {
            font-size: 18px;
        }
    }
}